.contact {
    overflow-x: hidden;

    padding: 0 rem(25px);
}

.contactSubheading {
    margin-bottom: rem(55px);
}

@include mq-wide {
    .contactSubheading {
        margin-top: rem(40px);
        margin-bottom: rem(40px);
    }
}
