.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    //background-color: #ffc0cbb3;

    pointer-events: none;

    mix-blend-mode: difference;
}
