@import 'styles/partials/inputs';

.form {
    display: flex;

    flex-direction: column;

    font-family: $font-mono;

    align-items: flex-start;
    gap: rem(37px);
}

.label {
    position: relative;

    width: 100%;
}

.container {
    position: relative;

    width: 100%;

    padding: rem(36px);

    border: 1px solid $color-dark-charcoal;
}


.copy {
    position: absolute;
    top: rem(-31px);
    left: rem(36px);

    padding: rem(16px) rem(19px);

    background-color: $color-chinese-white;

    font-family: $font-mono;
    font-size: rem(21px);

    text-transform: uppercase;
}

.input {
    @extend .input;

    height: rem(174px);

    padding: rem(36px);

    font-size: rem(21px);
}

.textarea {
    @extend .input;

    height: rem(580px);

    padding: rem(36px);

    resize: none;

    font-size: rem(21px);
}

.checkboxInput {
    position: absolute;

    width: 0;
    height: 0;

    opacity: 0;

    cursor: pointer;
}

.checkboxCheckmark {
    width: rem(21px);
    height: rem(21px);

    border: 1px solid $color-dark-charcoal;

    background-color: $color-chinese-white;

    cursor: pointer;
}

.checkboxLabel {
    position: relative;
    display: flex;

    width: fit-content;

    margin-bottom: rem(36px);

    align-items: center;
    gap: rem(36px);

    &:last-child {
        margin-bottom: 0;
    }
}

.checkboxLabel:hover .checkboxInput ~ .checkboxCheckmark:after {
    display: block;
}

.checkboxLabel .checkboxInput:checked ~ .checkboxCheckmark {
    border: 1px solid $color-dark-charcoal;

    background-color: $color-chinese-white;
}

.checkboxCheckmark:after {
    position: absolute;
    display: none;

    content: '';
}

.checkboxLabel .checkboxInput:checked ~ .checkboxCheckmark:after {
    display: block;
}

.checkboxLabel .checkboxCheckmark:after {
    top: rem(-3px);
    left: rem(8px);

    width: rem(12px);
    height: rem(22px);

    border: solid $color-spanish-pink;
    //border: solid $color-dark-charcoal;
    border-width: 0 rem(1px) rem(1px) 0;

    transform: rotate(45deg);
}

.checkboxCopy {
    font-family: $font-mono;
    font-size: rem(21px);

    text-transform: uppercase;
}

.button {
    position: relative;
    display: flex;

    width: rem(300px);
    height: rem(100px);

    margin-bottom: rem(119px);

    border: none;

    background-color: $color-dark-charcoal;

    transition: background-color 0.3s;

    gap: rem(20px);
    align-content: center;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $color-spanish-pink;
    }
}

.buttonCopy {
    display: inline-block;

    font-size: rem(22px);
    line-height: 0;

    text-transform: uppercase;

    color: $color-chinese-white;
}

.svg {
    width: rem(26px);
    height: rem(9px);

    fill: $color-chinese-white;
}


@include mq-wide {
    .form {
        max-width: rem(582px);

        margin: 0 auto;
    }

    .copy {
        position: absolute;
        top: rem(-17px);
        left: rem(19px);

        padding: rem(9px);

        font-size: rem(11px);
    }

    .checkboxCopy {
        font-size: rem(11px);
    }

    .checkboxCheckmark {
        width: rem(11px);
        height: rem(11px);
    }

    .checkboxLabel .checkboxCheckmark:after {
        top: rem(-1px);
        left: rem(5px);

        width: rem(5px);
        height: rem(12px);
        //border: solid $color-spanish-pink;

        border: solid $color-dark-charcoal;
        border-width: 0 1px 1px 0;

        transform: rotate(45deg);
    }

    .input {
        height: rem(65px);

        font-size: rem(11px);
    }

    .textarea {
        height: rem(200px);

        font-size: rem(11px);
    }

    .button {
        width: rem(188px);
        height: rem(63px);
    }

    .buttonCopy {
        display: none;
    }

    .svg {
        width: rem(16px);
        height: rem(5px);

        fill: $color-chinese-white;
    }
}
