.marquee {
    position: relative;

    margin: 0 0 25rem;
}


.line {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    text-align: left;
    white-space: nowrap;
}

.label {
    position: relative;
    display: inline-block;

    pointer-events: none;

    font-family: 'Plaak-CondensedBold';
    font-size: rem(94px);
    line-height: 1em;

    color: $color-dark-charcoal;
}

@include mq-regular {
    .label {
        font-size: rem(180px);
    }
}
