@import 'styles/partials/lists';
@import 'styles/partials/buttons';
// @import 'styles/core/base';

.list {
    @extend .list--horizontal;
}

.item {
    @extend .list__item;

    &:not(:last-child) {
        margin-right: rem(118px);
    }
}

.link {
    text-decoration: none;

    color: $color-dark-charcoal;
}

// .navigation {
//     display: none;
// }

.active {
    position: relative;
    display: inline-block;
}

//global active 
.button {
    &:global(.active) {
        background-color: pink;
    }
}

body {
    // .navigation {
    //     display: none;
    // }
    
    &:global('has-hover') {
        .navigation {
            display: block;
        }
    }
}


.active::before {
    position: absolute;
    top: 0;
    right: rem(-5px);
    bottom: 0;
    left: rem(-5px);

    height: rem(2px);

    margin: auto 0;

    background-color: $color-dark-charcoal;

    content: '';
}

@include mq-wide {
    .navigation {
        display: flex;

        font-family: $font-plaak;
        font-size: rem(12px);

        text-transform: uppercase;

        justify-content: center;
    }
}
