@import 'styles/partials/lists';
@import 'styles/partials/buttons';
// @import 'styles/core/base';

.list {
    @extend .list--horizontal;

    &:global(.is-inverted) {
        display: flex;

        flex-direction: column;

        overflow: hidden;
    }

    &:global(.is-inverted) .item {
        margin: 0;

        border-bottom: rem(1px) solid $color-chinese-white;
    }

    &:global(.is-inverted) .item:first-of-type {
        border-top: rem(1px) solid $color-chinese-white;
    }

    &:global(.is-inverted) .item .button {
        position: relative;
        display: flex;

        width: 100%;
        height: rem(235px);

        background-color: $color-dark-charcoal;

        text-align: center;

        justify-content: center;
        align-items: center;
    }

    &:global(.is-inverted) .item .label {
        font-family: $font-plaak-bold;
        font-size: rem(66px);

        color: $color-chinese-white;
    }

    &:global(.is-inverted) .item .order {
        position: absolute;
        top: rem(58px);
        left: rem(52px);

        font-family: $font-plaak;
        font-size: rem(26px);

        color: $color-spanish-pink;
    }
}

.item {
    @extend .list__item;

    &:not(:last-child) {
        margin-right: rem(118px);
    }
}

.order {
    text-decoration: none;

    color: $color-dark-charcoal;
}

.label {
    text-decoration: none;

    color: $color-dark-charcoal;
}

// .navigation {
//     display: none;
// }

.active {
    position: relative;
    display: inline-block;
}

// :global(.has-hover) {
//     .navigation {
//         display: flex;
//     }
// }

// :global(.is-open) {
//     .navigation {
//         border: 1px solid red;
//     }
// }

.active::before {
    position: absolute;
    top: 0;
    right: rem(-5px);
    bottom: 0;
    left: rem(-5px);

    height: rem(2px);

    margin: auto 0;

    background-color: $color-dark-charcoal;

    content: '';
}

@include mq-wide {
    .navigation {
        display: flex;

        font-family: $font-plaak;
        font-size: rem(12px);

        text-transform: uppercase;

        justify-content: center;
    }
}
