.section {
    padding: 0 rem(25px);

    background-color: $color-chinese-white;

    &:global(.is-inverted) {
        background-color: $color-dark-charcoal;
    }
}

.wrapper {
    padding: rem(37px) 0 0;
}

@include mq-wide {
    .section {
        max-width: none;

        padding: 0 0 rem(100px) 0;
    }

    .wrapper {
        padding: rem(57px) 0 0;
    }
}
