//@import 'styles/partials/sections';

.section {
    margin: rem(60px) rem(25px) rem(92px) rem(25px);

    text-align: center;
}

.section__title {
    margin: 0 0 rem(40px) 0;

    font-family: $font-plaak;
    font-size: rem(19px);
    letter-spacing: rem(7px);
}

.section__heading {
    margin: 0 0 rem(60px) 0;

    font-family: $font-plaak-bold;
    font-size: rem(120px);
    letter-spacing: rem(-1px);
    line-height: rem(100px);
}

.focus {
    margin: 0 rem(26px);

    border-bottom: rem(6px) solid $color-dark-charcoal;

    font-size: rem(84px);

    vertical-align: text-top;

    &:first-of-type {
        margin: 0 rem(26px) 0 0;
    }
}

.button-box-shadow {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;

        width: 100%;
        height: 100%;

        background-color: $color-black;

        content: '';

        transform: translate(rem(5px), rem(5px));
    }

    :hover {
        background-color: $color-spanish-pink;
    }
}

.button-box-shadow__wrapper {
    position: relative;
    display: inline-block;

    padding: rem(34px) rem(60px);

    border: rem(1px) solid $color-dark-charcoal;

    background-color: $color-chinese-white;

    transition: background-color 0.3s ease-out;

    font-family: $font-plaak;
    font-size: rem(20px);
    letter-spacing: rem(4px);

    text-transform: uppercase;

    color: $color-black;
}

@include mq-regular {
    .section__heading {
        max-width: rem(1000px);

        margin: 0 auto rem(56px);
    }
}

@include mq-wide {
    .section {
        margin: rem(60px) rem(25px) rem(92px) rem(25px);

        text-align: center;
    }

    .section__title {
        margin: 0 auto rem(56px);
    }

    .button-box-shadow__wrapper {
        position: relative;
        display: inline-block;

        padding: rem(24px) rem(32px);

        border: rem(1px) solid $color-dark-charcoal;

        background-color: $color-chinese-white;

        font-family: $font-plaak;
        font-size: rem(13px);
        letter-spacing: rem(3px);

        text-transform: uppercase;

        color: $color-black;
    }
}
