.section {
    padding: 0 rem(25px);

    background-color: $color-chinese-white;
}

.section-wrapper {
    padding: rem(37px) 0 0;
}


.bio {
    display: block;

    width: 100%;

    padding: rem(100px) 0;
}

.bio:first-of-type {
    border-bottom: rem(1px) solid $color-dark-charcoal;
}

.bio__fullname {
    position: relative;
    z-index: 1;

    margin: 0;

    font-family: $font-plaak-bold;
    font-size: rem(105px);
    letter-spacing: rem(-2px);

    text-align: center;
    text-transform: uppercase;
}

.bio__role {
    position: relative;
    z-index: 1;

    margin: rem(48px) 0 0 0;

    font-family: $font-plaak;
    font-size: rem(19px);
    font-weight: 400;
    letter-spacing: rem(9px);

    text-align: center;
    text-transform: uppercase;
}

.bio__image-container {
    position: relative;

    width: 100%;
    height: 0;
    overflow: hidden;
    /* margin-bottom: 3.125rem; */

    padding-top: 100%;
}

.bio__image {
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;

    width: 140%;
    height: 140%;
}

.bio__button {
    position: absolute;
    right: rem(60px);
    bottom: rem(-50px);

    width: rem(140px);
    height: rem(140px);

    &:hover {
        .bio__button-background {
            background-color: $color-chinese-white;
        }
    }
}

.bio__button-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: rem(100px);
    height: rem(100px);

    margin: auto;

    border-radius: 50%;

    background-color: $color-spanish-pink;

    transition: background-color 0.3s;
}

.bio__button-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: rem(20px);
    height: rem(53px);

    margin: auto;

    fill: $color-dark-charcoal;
}

.bio__button-text {
    // width: rem(100px);
    // height: rem(100px);
    font-family: $font-mono-light;
    font-size: rem(16px);
    font-weight: 400;

    fill: #303031;
}

.bio__description {
    position: relative;

    margin: rem(100px) 0 0 0;

    font-family: $font-mono-light;
    font-size: rem(26px);
    font-weight: 400;
    letter-spacing: rem(-1px);
    line-height: rem(42px);

    text-align: initial;
    text-transform: initial;
}

@include mq-wide {
    .section {
        max-width: none;

        padding: 0 0 rem(100px) 0;
    }

    .section-wrapper {
        padding: rem(57px) 0 0;
    }

    .bio-container {
        position: relative;

        margin: rem(15px) auto 0 auto;
    }

    .bio:first-of-type {
        border-bottom: none;

        &::before {
            position: absolute;
            right: 0;
            z-index: 1;

            width: rem(1px);
            height: 100%;

            background-color: $color-dark-charcoal;

            content: '';
        }
    }

    .bio {
        position: relative;
        display: inline-block;

        width: 50%;
        width: 50%;
        height: rem(1085px);

        padding: rem(39px) rem(110px);

        vertical-align: top;
    }

    .bio__fullname {
        padding-top: rem(39px);

        font-size: rem(66px);
    }

    .bio__role {
        margin: rem(32px) 0 0 0;

        font-size: rem(12px);
        letter-spacing: rem(5px);
    }

    .bio__description {
        font-size: rem(16px);
        font-weight: 400;
        letter-spacing: rem(-1px);
        line-height: rem(26px);
    }

    .bio__button-background {
        width: rem(71px);
        height: rem(71px);
    }

    .bio__button-icon {
        width: rem(14px);
        height: rem(37px);
    }

    .bio__button-text {
        width: rem(100px);
        height: rem(100px);

        font-size: rem(8px);
    }

    .bio__button {
        width: rem(100px);
        height: rem(100px);
    }

    // .bio__button:first-of-type {
    //     border: 1px solid red;
    // }
}
