//@import 'src/styles/core/base';

.ir {
    display: block;

    text-shadow: none;

    font: 0/0 a;

    color: transparent;
}

.section {
    margin: rem(60px) 0 0 0;

    text-align: center;
}

.section__title {
    margin: 0 0 rem(40px) 0;

    font-family: $font-plaak;
    font-size: rem(19px);
    letter-spacing: rem(7px);
}

.info-block {
    padding: rem(170px) 0 rem(92px) 0;

    border-bottom: rem(1px) solid $color-dark-charcoal;

    &:last-of-type {
        padding: rem(240px) 0 rem(92px) 0;

        border-bottom: none;
    }
}

.info-block__title {
    margin: 0 0 rem(40px) 0;

    font-family: $font-plaak-bold;
    font-size: rem(73px);
    letter-spacing: rem(-2px);
}

.info-block__img {
    display: block;

    width: rem(386px);
    height: 100%;

    margin: 0 auto rem(120px);
}

@include mq-wide {
    .section {
        margin: rem(78px) 0 rem(19px) 0;
    }

    .info-block {
        display: inline-block;

        width: 50%;

        border-right: rem(1px) solid $color-dark-charcoal;
        border-bottom: none;

        &:last-of-type {
            padding: rem(240px) 0 rem(92px) 0;

            border-right: none;
        }
    }

    .info-block__wrapper {
        display: flex;

        flex-direction: column;
    }
    .info-block__title {
        order: 1;
    }

    .info-block__img {
        margin: 0 auto rem(58px);

        order: 2;
    }

    .info-block__button {
        order: 3;
    }
}


// .info-block__button {
//     position: relative;
//     display: block;

//     width: rem(170px);
//     height: rem(96px);

//     margin: 0 auto;

//     background-color: $color-dark-charcoal;

//     transition: background-color 0.3s;
// }
