.subheading {
    margin: rem(50px) 0 0 0;

    font-family: $font-plaak;
    font-size: rem(19px);
    font-weight: 400;
    letter-spacing: rem(8px);

    text-align: center;
    text-transform: uppercase;
}


@include mq-wide {
    .subheading {
        margin: rem(47px) 0 0 0;

        font-size: rem(12px);
    }
}
